
html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit
}

form{
  padding: 1.5rem
}


.product{
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  color: black;
}


.cart{
  padding: 1rem;
}

.cart > h2{
  padding: 1rem;
}

.cart > div > button{
  padding: 1rem;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.cart > div > button:hover{
  background-color: #ccc;
  color: white;
}

.ratingform{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  color: black;
}


h2 {
  padding: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="text"],
input[type="number"],
textarea {
  height: 2em;
  font-size: 1.2em;
}

textarea {
  height: 4em;
}

button[type="submit"] {
  color: white;
  background-color: green;
}


p {
  font-weight: bold;
  font-size: 1.2rem; 
}

.home{
  padding: 1rem;
}

.ratingslist{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}